*
!.gitignore
!*/

!Assets/

!Assets/python/
!Assets/python/**

!Assets/xml/
!Assets/xml/**

!Assets/Art/Interface/Buttons/Promotions/
!Assets/Art/Interface/Buttons/Promotions/**

!Assets/CvGameCoreDLL.dll
